{% extends 'base.html' %}

{% block content %}
	<div class="row d-flex justify-content-center">
		<div class="col-md-5 my-4">
			<h2>Add New Tasks</h2>
			<form class="form-inline" method="POST" action="addTask">
				{% csrf_token %}
				<input type="text" class="form-control mb-2 mr-sm-2" name="task" placeholder="Enter Text">
				<button type="submit" class="btn btn-primary mb-2">Submit</button>
			</form>
		</div>	
	</div>
	<div class="row d-flex justify-content-center">	
		<div class="col-md-5 mt-2">
			<ul class="list-group">
			  <li class="list-group-item">Cras justo odio
				  <div class="float-right">
				  	<form method="POST" action="delete">
				  		{% csrf_token %}
				  		<button type="submit" class="btn btn-danger mb-2">Delete</button>
				  	</form>
				  </div>
			  </li>
			</ul>
		</div>	
	</div>	
	

{% endblock %}